<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="">

    <title>Admin MAPSChile - Login</title>

    <!-- Bootstrap core CSS -->
    <link href="{{STATIC_URL}}css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{{STATIC_URL}}css/signin.css" rel="stylesheet">
  </head>

  <body>

      <div class="container">
        <form class="form-signin" role="form" id="login_form" method="post" action="{% url 'login' %}">

          <img class="text-center" src="{{STATIC_URL}}img/MapsChile-Admin.png"></img>
          {% csrf_token %}

          <input type="username" class="form-control" name="username" placeholder="Username" required autofocus>
          <input type="password" class="form-control" name="password" placeholder="Password" required>

          {% if form.errors %}
            <div class="text-center alert alert-warning">Usuario y/o contraseña inválido. <br/>
            Intente nuevamente</div>
          {% endif %}
          
          <button class="btn btn-lg btn-success btn-block" type="submit">Ingresar</button>          
          <input type="hidden" name="next" value="{{ next }}" />
        
        </form>

      </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
  </body>
</html>