{% extends "visualization/base.html" %}
{% load bootstrap %}

{%block container%}

	<style type="text/css">
	    .panel-heading{
	      border-bottom: 1px solid transparent;
	    }
	</style>

	<h3> Listado de Medidas de Mitigación</h3>

	{% for sector, actiongroup in actionList %}
	<div class="panel panel-default">
		<div class="panel-heading">
		<h4>{{sector.full_name}}</h4>
		</div>
		<div class="panel-body container">
		{%for actionname, actions in actiongroup%}

			<div class = "container">
					<div class= "col-md-9">
						{{actionname}}
					</div>
					<div class="col-md-3">
						{%for action in actions%}

							{% if action.level == "Activo" %}
								<a href="{%url 'registry'%}?id={{action.pk}}" class="btn btn-primary btn-xs"> {{action.level}} </a>

							{% elif action.level == "1" %}
								<a href="{%url 'registry'%}?id={{action.pk}}" class="btn btn-success btn-xs"> Nivel {{action.level}} </a>

							{% elif action.level == "2" %}
								<a href="{%url 'registry'%}?id={{action.pk}}" class="btn btn-warning btn-xs"> Nivel {{action.level}} </a>


							{% elif action.level == "3" %}
								<a href="{%url 'registry'%}?id={{action.pk}}" class="btn btn-danger btn-xs"> Nivel {{action.level}} </a>


							{% endif %}
						{%endfor%}
					</div>
			</div>
		{%endfor%}
		</div>
	</div>
	{% endfor %}
{% endblock %}
