{% load utiltags %}

<html lang='es'>
<head>
  <meta charset="UTF-8">
  <title>MAPS Chile - Mitigation Action Plans and Scenarios Chile </title>
  <link rel="stylesheet" href="{{STATIC_URL}}css/bootstrap.paper.min.css">
  <!--
  <link rel="stylesheet" href="{{STATIC_URL}}css/font-din-condensada.css">
  -->
  <link rel="stylesheet" href="{{STATIC_URL}}css/font-awesome.min.css">
  <link rel="stylesheet" href="{{STATIC_URL}}css/font-open-sans-condensed.css">
  <script src="{{STATIC_URL}}js/jquery.min.js"></script>
  <script src="{{STATIC_URL}}js/bootstrap.min.js"></script>

  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-6687858-7', 'auto');
    ga('send', 'pageview');
  </script>

  <style type="text/css">
    body {
      color: #191919;
      background: url({{STATIC_URL}}img/fondotextura.jpg) repeat #EDEDE3;
    }

    .logo {
      width: 150px;
      display: inline;
    }
    .navbar-brand {
      float: left;
      padding: 0px 15px;
      font-size: 27px;
      line-height: 23px;
      height: 45px;
    }
  </style>

</head>
<body>

  <div class="bar_top"></div>


{% block navbar %}

<div class="navbar navbar-default">
  <div class="navbar-header">


    <a href="{% url 'index' %}">
      <div class="logo">
        <img src="{{STATIC_URL}}img/Gobierno-Chile.png">
        <img src="{{STATIC_URL}}img/MAPS.png">
      </div>
    </a>
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
  </div>
  <div class="navbar-collapse collapse navbar-responsive-collapse">

    <ul class="nav navbar-nav">
      <li id="nav-comparacion"><a href="{% url 'comparison' %}">
        <i class="fa fa-area-chart"></i> Comparar Escenarios</a></li>
      <li id="nav-comparacion"><a href="{% url 'actionListViewer' %}">
        <i class="fa fa-list"></i> Listado de medidas</a></li>

      {% if personalized == 'True'%}
      <li id="nav-comparacion"><a href="{% url 'scenario_personalized' %}">
        <i class="fa fa-pencil-square-o"></i> Crear Escenario</a></li>
      {% endif %}
      <li id="nav-comparacion"><a href="{% url 'credits' %}">
        Créditos</a></li>
    </ul>

    <ul class="nav navbar-nav navbar-right">
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
          <i class="fa fa-bar-chart"></i> Escenarios <b class="caret"></b></a>
       <ul class="dropdown-menu">
          {%for scenario in scenariosList%}
            <li><a href="{% url 'scenario' scenario.id %}">{{scenario.name}}</a></li>
          {%endfor%}
          {% if personalized == 'True'%}
          <li class="divider"></li>
          <li><a href="{% url 'scenario_personalized' %}">Crear Personalizado</a></li>
          {% endif%}
        </ul>
      </li>
    </ul>


  </div>
</div>

{% endblock %}

  <div class="container">
    {% block container %}

    {% endblock %}
  </div>

    {% block js %}
    {% endblock%}

</body>
<footer>
{% block footer %}

<br/>
<br/>
<br/>

{% endblock %}
</footer>

</html>
