{% extends "visualization/base.html" %}
{% load bootstrap %}

{% block container %}
{%if EmptyScenarioList%}

    <div class="text-center">
        <br/>
        <br/>
        <br/>
        <h4> No hay escenarios cargados para comparar en este momento.
        <br/>por favor regresar mas tarde.</h4>
    </div>
{%else%}
<script src="{{STATIC_URL}}js/highcharts.js"></script>
<script src="{{STATIC_URL}}js/exporting.js"></script>


<div id="comparison" class="col-md-12"></div>


<div class="col-md-12 text-center">
  <br/>
  Sector:
      <button type="button" class="btn btn-default" id = "general" value="General">General</button>

      {% for sector in sectors %}
        <button type="button" class="btn btn-default" id ="{{sector.full_name}}" value="{{sector.full_name}}">{{sector.name}}</button>
      {% endfor %}

</div>


<script type="text/javascript">

$(document).ready(function() {

    $( '#nav-inicio').removeClass('active');
    $( '#nav-nosotros').removeClass('active');
    $( '#nav-comparacion').addClass('active');

    //Datos por defecto
    getData("General");

});


$('button').click(function(){
    var value = $(this).attr('value');
    getData( value );
})


function getData(sector){

    $.ajax({

        data    : {'sector': sector},
        url     : '/visualization/data/comparison',
        type    : 'GET',
        success : function(data){

            var chart = new Highcharts.Chart({

                colors:[
                    "#27a101",
                    "#1f78b4",
                    "#b2df8a",
                    "#33a02c",
                    "#fb9a99",
                    "#c800ee",
                    "#fdbf6f",
                    "#ff7f00",
                    "#cab2d6",
                    "#6a3d9a",
                    "#ffff99",
                    "#b15928",
                    "#000000"
                    ],
                credits:{
                    enabled: false
                },
                chart: {
                    zoomType: 'xy',
                    renderTo: 'comparison'
                },

                title: {
                    useHTML: true,
                    text: 'Comparación de escenarios: '+data['name'],
                    x: -20 //center
                },
                xAxis: {
                    categories: data['years']
                },

                yAxis: {
                    title: {
                        useHTML: true,
                        text: ' CO<sub>2</sub>eq (MMt)'
                    },
                    plotLines: [{
                        value: 0,
                        width: 1,
                        color: '#808080'
                    }]
                },

                tooltip: {
                    useHTML: true,
                    valueSuffix: ' CO<sub>2</sub>eq (MMt)',
                    valueDecimals: 1
                },
                legend: {
                    title: 'Comparaciones',
                    layout: 'horizontal',
                    align: 'center',
                    borderWidth: 0
                },

                series: data['value']

            });


        }




        })
    }
</script>

{%endif%}
{% endblock %}
