{% extends "visualization/base.html" %}
{% load bootstrap %}

{%block container%}

    <style type="text/css">
        .panel-heading{
          border-bottom: 1px solid transparent;
        }
          .image_container img {
        width:100%;
        height:200px;
    }
    .row {
        margin-left: 0px;
    }
    .panel-heading{
      border-bottom: 1px solid transparent;
    }
    .equal, .equal > div[class*='col-'] {
        display: -webkit-flex;
        display: flex;
        flex:1 1 auto;
    }
    ul {
        list-style-image: url('{{STATIC_URL}}img/ok.png');
        list-style-position: outside;"
        font-size: 28px;
    }

    </style>

    <font size=3>
<p>Esta plataforma de visualización de datos de Maps Chile fue desarrollada por:</p>
</font>
<font size=2>
<ul>
    <li>Gonzalo Flores - gonzalo@afachile.cl</li>
    <li>Amanda Ibsen - amanda.ibsen@gmail.com</li>
    <li>Alejandro Infante - alejandroinfante91@gmail.com</li>
    <li>Roberto Oñate - ro3rto@gmail.com</li>
    <li>Ian Yon - ian.alonyon@gmail.com</li>
</ul>
</font>
{% endblock %}

