{% extends 'visualization/my_upload_form.html' %}
{% block JS_OPTS %}
<!-- Se producen errores si se admiten uploads no secuenciales -->
sequentialUploads: true,
maxNumberOfFiles: 5000,
{% if upload_handler_url == "/admin/measure/file_handler" %}
    acceptFileTypes: /(\.|\/)(xls?x)$/i
{% else %}
    acceptFileTypes: /(\.|\/)(png)$/i
{% endif %}
{% endblock %}

<!-- Eliminar boton de borrar y cancel al subir una ficha -->
{% block JS_DOWNLOAD_TEMPLATE_DELETE %}
{% endblock %}

<!-- Eliminar previsualización de imagen de archivo subido => no son imagenes! -->
{% block MODAL_GALLERY %}
{% endblock %}

<!-- Eliminar basura -->
{% block JS_UPLOAD_TEMPLATE_PREVIEW %}
{% endblock %}

{% block CSS_BOOTSTRAP %}
<style type="text/css">
.alert-warning {
	color: #000000;
	background-color: #ffffff;
	border-color: #faebcc;
	}

    .template-upload.fade.alert.alert-warning.col-md-12.in{
        margin-bottom:0;
        padding:5;
        border: 1px solid;
        border-color:#dadada;
    }

    .template-download.fade.col-md-12.in{
        margin-bottom:0;
        padding:5;
        border: 1px solid;
        border-color:#dadada;
    }

</style>
{% endblock %}

{% block JS_DOWNLOAD_TEMPLATE_ERROR %}
<div class="col-md-5">
    {{ JQ_OPEN }} if (file.error) { {{ JQ_CLOSE }}
        <div>
            <span class="label label-danger">Error</span> :  {{ JQ_OPEN }}=file.error{{ JQ_CLOSE }}
        </div>
    {{ JQ_OPEN }} } {{ JQ_CLOSE }}
</div>
{% endblock %}

{% block JS_UPLOAD_TEMPLATE %}
<script id="template-upload" type="text/x-tmpl">
{{ JQ_OPEN }} for (var i=0, file; file=o.files[i]; i++) { {{ JQ_CLOSE }}
<div class="template-upload fade alert alert-warning col-md-12" role="alert" >

    <div class="col-md-5">
        <p class="name">{{ JQ_OPEN }}=file.name{{ JQ_CLOSE }}</p>
        <strong class="error text-danger"></strong>
    </div>

    <div class="col-md-2">
        <p class="size">Processing...</p>
    </div>

    <div class="col-md-1">
        <div class="progress progress-striped active" role="progressbar"
                    aria-valuemin="0" aria-valuemax="100" aria-valuenow="0" style="margin-top: 15px;">
            <div class="progress-bar progress-bar-success" style="width:0%;"></div>
        </div>
    </div>

    <div class="col-md-4 text-right" >

        {{ JQ_OPEN }} if (!i && !o.options.autoUpload) { {{ JQ_CLOSE }}
            <button class="btn btn-primary start" disabled>
                <i class="glyphicon glyphicon-upload"></i>
                <span>Cargar</span>
            </button>
        {{ JQ_OPEN }} } {{ JQ_CLOSE }}

        {{ JQ_OPEN }} if (!i) { {{ JQ_CLOSE }}
            <button class="btn btn-warning cancel">
                <i class="glyphicon glyphicon-ban-circle"></i>
                <span>Cancelar</span>
            </button>
        {{ JQ_OPEN }} } {{ JQ_CLOSE }}
    </div>
</div>
{{ JQ_OPEN }} } {{ JQ_CLOSE }}
</script>
{% endblock %}
