{% extends "visualization/base.html" %}
{% load bootstrap %}

{% block container %}
<div class = "logo-container" style = "margin:10px">
  <div class = "col-md-4">
    <img src="{{STATIC_URL}}img/logobierno.png">
  </div>
  <div class = "col-md-8">
    <img src="{{STATIC_URL}}img/logo_maps.png">
  </div>
</div>
{% block navbar %}
{% endblock %}

<style type="text/css">
	ul {
		list-style-image: url('{{STATIC_URL}}img/ok.png');
		list-style-position: outside;"
		font-size: 28px;
	}

    body {
      color: #191919;
      background: url({{STATIC_URL}}img/fondo_index_72ppi.jpg) no-repeat #EDEDE3;
      background-size: 100%;
    }

    .navbar-brand {
      float: left;
      padding: 0px 15px;
      font-size: 27px;
      line-height: 23px;
      height: 45px;
    }
</style>


<div class="col-md-6">
<h3 class="text-center"> Bienvenido a visualización de resultados de MAPS Chile</h3>
<br/>
<div class="col-md-12 text-center">
	<a href="{% url 'comparison' %}" class="btn btn-sm btn-danger" type="button"><span class="fa fa-area-chart"></span> Comparar escenarios</a>

	<a href="{% url 'scenario_default' %}" type="button" class="btn btn-sm btn-warning"><span class="fa fa-bar-chart"></span> Ver Escenarios</a>


{% if personalized == 'True'%}
  <a href="{% url 'scenario_personalized' %}" type="button" class="btn btn-sm btn-primary"><span class="fa fa-pencil-square-o"></span> Crear tu Escenario</a>
{% endif%}

</div>
<br/>
<h4>Usted podrá:</h4>
<br/>
<font size=4>
<ul>
	<li>Visualizar trayectorias de emisiones de gases de efecto invernadero en Chile.</li>
	<li>Comparar los resultados de los escenarios de mitigación y sus efectos respecto de la Línea Base.</li>
	<li>Visualizar en detalle la contribución en emisiones de los distintos sectores.</li>
</ul>
</font>
</div>
{% endblock %}
{% block footer %}
<div class="container">
    <div class="row pull-left">
      <!--<div class="col-xs-12 col-md-12 text-center ">
      <br>
        <font color="#9d5e19">Secretaría de MAPS Chile: Andrés Pirazzoli</font><font color="#f39200" size="5"><b> &middot; </b></font><font color="#9d5e19">+56 2 2405746</font><font color="#f39200" size="5"><b> &middot; </b></font><font color="#9d5e19">apirazzoli@mma.gob.cl</font><font color="#f39200" size="5"><b> &middot; </b></font><font color="#9d5e19">Teatinos 258, piso 3, Santiago, CHILE</font>
      </div> -->
    </div>
</div>
{% endblock %}
