{% extends "visualization/base.html" %}
{% load bootstrap %}

{% block container %}
<script src="{{STATIC_URL}}js/highcharts.js"></script>
<script src="{{STATIC_URL}}js/exporting.js"></script>
<script src="{{STATIC_URL}}js/jquery-ui.min.js"></script>
<script src="{{STATIC_URL}}js/chart-utils.js"></script>


<style type="text/css">
	.label {
		line-height: 2;
	}
	.dropdown-menu > li > level:hover, .dropdown-menu > li > level:focus {
		text-decoration: none;
		color: #141414;
		background-color: #EEE;
	}
	.dropdown-menu > li > level {
		display: block;
		padding: 3px 20px;
		clear: both;
		font-weight: normal;
		line-height: 1.846;
		color: #666;
		white-space: nowrap;
	}
</style>

<section id="top">
	<div id="chartContainer" class="col-md-12"></div>
</section>

<div class="col-md-9 text-left">
<br/>

Sectores:
	{% for element in measures %}
		<a type="button" class="btn btn-default page-scroll" href="#{{element.sector.name}}">
			{{element.sector.name}}
		</a>
	{% endfor %}
</div>

<div class="col-md-3 text-right">
<br/>
	<button onclick="updateSessionAndDrawChart();" type="button" class="btn btn-warning">
		<span>Actualizar</span>
		<i class="glyphicon glyphicon-refresh"></i>
	</button>
	<a href="{% url 'cleanPersonalizedScenario' %}" type="button" class="btn btn-danger">
		<span>Limpiar</span>
		<i class="fa fa-bomb"></i>
	</a>
</div>


<div id="mitigationActions" class="col-md-12 text-left">

	{% for element in measures %}
		<div class="col-md-12">
			<section id="{{element.sector.name}}">
				<div class="col-md-11">
						<h4>{{element.sector.full_name | capfirst}} </h4>
					<br/>
				</div>
				<div class="col-md-1 text-right  page-scroll">
					<br/>
					<a href="#top" type="button" class="btn btn-primary btn-xs page-scroll">
						Subir <i class="fa fa-angle-double-up"></i>
					</a>
				</div>
			</section>

		</div>



	  {% for action in element.actions%}
		<div class="col-md-6 col-xs-12 col-sm-6">
			<div class="col-md-2 col-xs-2 col-sm-2 ">


			{% if action.levels|length == 1  %}
				<activate type="button" class="btn btn-default btn-xs" id="{{action.id}}"
				level="0" >Inactivo</activate>

			{% else %}

				<div class="dropdown">
				  <button class="btn btn-default btn-xs dropdown-toggle" type="button" id="{{action.id}}" level="inactivo"
					data-toggle="dropdown">
					Inactivo
					<span class="caret"></span>
				  </button>
				  <ul class="dropdown-menu" role="menu" aria-labelledby="{{action.id}}">
						<li role="presentation">
							<level role="menuitem" tabindex="-1" measure="{{action.id}}" measurelevel="{{action.id}}" level="0">Inactivo</level>
						</li>
					{% for level, id in action.levels %}
						<li role="presentation">
							<level role="menuitem" tabindex="-1" measure="{{action.id}}" measurelevel="{{id}}" level="{{level}}">Nivel {{level}}</level>
						</li>
					{% endfor %}
				  </ul>
				</div>

			{% endif %}

			</div>

			<div class="col-md-10 col-xs-10 col-sm-10">
				<a href="{% url 'registry' %}?id={{action.id}}" id="{{action.id}}-href" title="{{action.name}}"> {{action.shortname}}</a>
			</div>
		</div>


	  {% endfor %}


	{% endfor %}



</div>

<script type="text/javascript">

var chart, baselineBackup;

/*
Cambia las propiedades de los elementos al seleccionar un nuevo nivel
*/
function changeDropdownLevel(elementId, level){
	var button = $('#'+elementId);
	$(button).attr('data-toggle',"dropdown");

	if (level=="0"){
		$(button).attr('level', 'inactivo');
		$(button).attr('class', 'btn btn-default btn-xs dropdown-toggle');
		$(button).text('Inactivo');
		$(button).append(' <span class="caret"></span>')
	} else if (level=="1"){

		$(button).attr('level', "1");
		$(button).attr('class', 'btn btn-success btn-xs dropdown-toggle');
		//$(button+"-href").attr('href', "1");
		$(button).text('Nivel 1');
		$(button).append(' <span class="caret"></span>')

	} else if (level=="2"){
		$(button).attr('level', "2");
		$(button).attr('class', 'btn btn-warning btn-xs dropdown-toggle');
		$(button).text('Nivel 2');
		$(button).append(' <span class="caret"></span>')

	} else if (level=="3"){
		$(button).attr('level', "3");
		$(button).attr('class', 'btn btn-danger btn-xs dropdown-toggle');
		$(button).text('Nivel 3');
		$(button).append(' <span class="caret"></span>')

	}
}

function toggleButtonLevel(elementId){
	elementId = "#"+elementId;
	if ($(elementId).attr('level')=="0"){
		$(elementId).attr('level', 'Activo');
		$(elementId).attr('class', 'btn btn-primary btn-xs');
		$(elementId).text('Activo');
		level = "Activo";
	} else if ($(elementId).attr('level')=="Activo"){
		$(elementId).attr('level', "0");
		$(elementId).attr('class', 'btn btn-default btn-xs');
		$(elementId).text('Inactivo');
		level = "0";
	}
	return level;
}

/*
Esta funcion se encargar de verificar y cambiar los estados
de las medidas que se activan/desactivan
*/
$('activate').click(function(){
	var id      = $(this).attr('id');
	var level  = $(this).attr('level');
	level = toggleButtonLevel(id);
	chart.showLoading();
	appendToScenarioContainer(id, level);
})


/*
Esta funcion se encargar de verificar y cambiar los estados
de las medidas que poseen un nivel de implementacion
*/
$('level').click(function(){

	var id      = $(this).attr('measure');
	var level   = $(this).attr('level');

	/* Cuando se cambia el nivel de la medida, se cambia también la URL a la ficha que se debe ver */
	$('#'+id+'-href').attr("href", "{% url 'registry' %}?id="+$(this).attr('measurelevel'));

	changeDropdownLevel(id, level);
	chart.showLoading();
	appendToScenarioContainer(id, level);
})


function appendToScenarioContainer(id, level){
	customScenario[id]=level;
}

function updateSessionAndDrawChart(initial){

	initial = typeof initial !== 'undefined' ? initial : false;

	$.ajax({
		data    : {'scenario': JSON.stringify(customScenario), 'initial': initial},
		url     : "{% url 'updatePersonalizedScenario' %}",
		type    : 'GET',
		error   : function(xhr, error){
			scenarioDiv = document.getElementById('scenario');
			errorMessage = document.createElement('p');
			errorMessage.innerHTML = "No se ha encontrado la linea base para realizar un gráfico de comparación.";
			scenarioDiv.appendChild(errorMessage);
		},

		success : function(data){
			customScenario = {};
			chart = new Highcharts.Chart({

			colors:[	"#010002",
						"#D78B2A",
						"#81AA39",
						"#1565A5",
						"#C12B2D",
						"#EBC22E",
						"#5A458C",
						"#8000FF",
						"#04B404"],

				credits:{
					enabled: false
				},
				chart: {
					zoomType: 'xy',
					renderTo: 'chartContainer',
				},

				title: {
					text: 'Emisiones por sectores'
				},
				subtitle: {
					text: '(Escenario Personalizado )'
				},
				xAxis: {
					allowDecimals: false,
					labels: {
						format: '{value}',
					},
					tickmarkPlacement: 'on',
					title: {
						enabled: false
					}
				},
				yAxis: {
					gridLineWidth: 1,
					title: {
						useHTML: true,
						text: 'MM ton CO<sub>2</sub>eq'
					},
					labels: {
						formatter: function () {
							return this.value;
						}
					}
				},
				tooltip: {
					useHTML: true,
					valueSuffix: ' CO<sub>2</sub> eq (MMt)',
					valueDecimals: 1
				},
				legend: {
					title: 'Comparaciones',
					layout: 'horizontal',
					align: 'center',
					borderWidth: 0
				},

				plotOptions: {
					column: {
						pointStart: 2013,
						stacking: 'normal',
						marker: {
							lineWidth: 1
						},
						events: {
								legendItemClick: handleSectorStateChange
						},
					},
					spline: {
						pointStart: 2013,
						lineWidth: 4,
						marker: {
							lineWidth: 1
						}
					},
				},

				loading: {

		            labelStyle: {
		                color: 'white',
		                "fontFamily":"arial",
		                "fontWeight": "bold",
		                "fontSize": "60px",
		                "position": "relative",
		                "top": "40%"
		            },
		            style: {
		                backgroundColor: 'gray',
		                opacity: 0.7
		            }
        		},

				series: data['value']
			});

			chart.options.lang.loading = "Presione ACTUALIZAR"

			// Backup the baseline beacause we'll change it later
			baselinedata = chart.get("Linea base 2013").data;
			baselineBackup = new Array(baselinedata.length);
			for (var i = baselineBackup.length - 1; i >= 0; i--) {
				baselineBackup[i] = baselinedata[i].y;
			};
		}
	});
}

$(document).ready(function() {
	customScenario = {};
	updateSessionAndDrawChart(true);


	actionLevels = {{ selectedLevels|safe }};
	for(actionId in actionLevels){
		level = actionLevels[actionId];
		// Es una medida tipo Activo/Inactivo
		if(level == "Activo")
			toggleButtonLevel(actionId);
		else
			changeDropdownLevel(actionId, level);
	}


});


//jQuery to collapse the navbar on scroll
$(window).scroll(function() {
	if ($(".navbar").offset().top > 50) {
		$(".navbar-fixed-top").addClass("top-nav-collapse");
	} else {
		$(".navbar-fixed-top").removeClass("top-nav-collapse");
	}
});

//jQuery for page scrolling feature - requires jQuery Easing plugin
$(function() {
	$('.page-scroll a').bind('click', function(event) {
		var $anchor = $(this);
		var $section = $($anchor.attr('href'));
		var scrollPos = $section.offset().top + $section.outerHeight() - $(window).height();

		$('html, body').stop().animate({
			scrollTop: scrollPos
		}, 1500, 'easeInOutExpo');

		event.preventDefault();
	});
});



</script>



{% endblock %}
