{% extends "visualization/base.html" %}
{% load bootstrap %}
{% block container %}
<script src="{{STATIC_URL}}js/highcharts.js"></script>
<script src="{{STATIC_URL}}js/exporting.js"></script>

<style>
    .image_container img {
        width:100%;
        height:200px;
    }
    .row {
        margin-left: 0px;
    }
</style>

<script type="text/javascript">

var id = {{ id }};
var fullPeriod = true;
var dataLength = 18;

function getDataGraphReduction(){
    $.ajax({
        data    : {'id': id, 'dataLength': dataLength},
        url     : '/visualization/actionGraphReduction',
        type    : 'GET',
        success : function(data){
        var chart = new Highcharts.Chart({

        colors:["#e31a1c", "#33a02c"],
        credits:{
            enabled: false
        },
        chart: {
            zoomType: 'xy',
            renderTo: 'registry2',
        },

        title: {
            text: ''
        },
        subtitle: {
            text: 'Reducción de emisiones con respecto a Línea Base 2013'
        },
        xAxis: {
            allowDecimals: false,
            labels: {
                format: '{value}',
            },
            tickmarkPlacement: 'on',
            title: {
                text: 'Años',
            }
        },


        yAxis: {
            gridLineWidth: 1,
            title: {
                useHTML: true,
                text: 'MM tCO<sub>2</sub>eq'
            },
            labels: {
                format: '{value}',
            }
        },
        tooltip: {
            useHTML: true,
            formatter: function() {
                return parseFloat(Math.round(this.y * 100) / 100).toFixed(2) + ' MM tCO<sub>2</sub>eq';
            },
            valueSuffix: 'MM tCO<sub>2</sub>eq',
            valueDecimals: 2
        },
        legend: {
            title: 'Medidas de mitigación',
            layout: 'horizontal',
            align: 'center',
            borderWidth: 0
        },

        plotOptions: {
            area: {
                pointStart: 2013,
                lineWidth: 4,
                marker: {
                    lineWidth: 1
                }
            }
        },
        series: data["value"]

    });}
    });
}

function getDataGraphComparison(){
    $.ajax({
        data    : {'id': id, 'dataLength':dataLength},
        url     : '/visualization/actionGraphComparison',
        type    : 'GET',
        success : function(data){
        var chart = new Highcharts.Chart({

        colors:["#04B404", "#5A458C"],
        credits:{
            enabled: false
        },
        chart: {
            zoomType: 'xy',
            renderTo: 'registry1',
        },

        title: {
            text: ''
        },
        subtitle: {
            text: 'Trayectoria de emisiones con medida de mitigación vs Linea Base 2013'
        },
        xAxis: {
            allowDecimals: false,
            labels: {
                format: '{value}',
            },
            tickmarkPlacement: 'on',
            title: {
                text: 'Años',
            }
        },
        yAxis: {
            gridLineWidth: 1,
            title: {
                text: 'MM tCO<sub>2</sub>eq'
            },
            labels: {
                format: '{value}',
            }
        },
        tooltip: {
            valueSuffix: 'MM tCO<sub>2</sub>eq',
            valueDecimals: 1
        },
        legend: {
            title: 'Medidas de mitigación',
            layout: 'horizontal',
            align: 'center',
            borderWidth: 0
        },

        plotOptions: {
            spline: {
                pointStart: 2013,
                lineWidth: 4,
                marker: {
                    lineWidth: 1
                }
            }
        },
        series: data["value"]

    });}


        });
    }


function yearToShow(){
    if (fullPeriod) {
        dataLength = 38;
        fullPeriod = false;
        document.getElementById("yearToShow").value="Mostrar datos hasta el año 2030";
        getDataGraphReduction();
        getDataGraphComparison();
    }

    else{
        dataLength = 18;
        fullPeriod =true;
        document.getElementById("yearToShow").value="Mostrar datos hasta el año 2050";
        getDataGraphReduction();
        getDataGraphComparison();
    }
}

getDataGraphComparison();
getDataGraphReduction();

</script>

<style type="text/css">
    .panel-heading{
      border-bottom: 1px solid transparent;
    }
    .equal, .equal > div[class*='col-'] {
        display: -webkit-flex;
        display: flex;
        flex:1 1 auto;
    }
</style>
<!--</div> -->

<div class="container">
    <div class="row" >
        <div class="col-md-12 text-center">
            <h3> {{description.name}}</h3>
        </div>

    </div>

    <div class="row">
        <div class="col-md-9">
            <div class="row" >
                <h4>Descripción</h4>
            </div>
            <div class="row" >
                <div class="text-justify">{{description.description}}</div>
            </div>
        </div>
        <div class="col-md-3">

            <div class="row" >
                <div class="col-md-12 text-center">
                    Sector: {{sector|capfirst }}
                </div>
            </div>
            <div class="row text-center">
                <a href="{{action.registry.registry.url}}" type="button" class="btn btn-primary">
                    <i class="fa fa-cloud-download"> Descargar Excel</i>
                </a>
            </div>

            <div class="row" >
                <div class="col-md-12 text-center">
                    <h5 class="text-center">Periodo Implementación</h5>

                    <table class="table">
                        <tr class="text-center">
                            <td>
                                Inicio <br/>
                                {{description.initialYear}}
                            </td>
                            <td> <br/><i class="fa fa-angle-double-right"></i> </td>
                            <td>Termino <br/>
                                {{description.endingYear}}
                            </td>
                        </tr>

                    </table>
                </div>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-md-12">
            <h4>Impacto de la medida</h4>
            <hr>
        </div>
        <div id="registry2" class="col-md-6"></div>
        <div id="registry1" class="col-md-6"></div>

        <div class="col-md-12 pull-right">
            <input type="button" id="yearToShow" onclick="yearToShow();" class="btn btn-warning btn-sm" value="Mostrar datos hasta el año 2050"></input>
        </div>

        <div id="mitigationActions" class="col-md-12 text-left"></div>
    </div>



    <div class="row">
        <div class="col-md-12">
            <h4>Implementación</h4>
            <hr>

            <div class="col-md-8 text-justify">
                {{description.implementation}}

            </div>
            <div class="col-md-4 image_container">
                {%for image in images%}
                    {%if image.section == "Implementación"%}
                    <img src="{{image.image.url}}">
                    {%endif%}
                {%endfor%}
            </div>

        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <h4>Supuestos de modelación</h4>
            <hr>
            <div class="row">
                <div class="col-md-8">
                    <div class="row">
                        <div class="text-justify">
                            <h5>Generales</h5>
                            {{modelacion.postulates}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="text-justify">
                            <h5>Costos</h5>
                            {{modelacion.costs}}
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="image_container">
                        {%for image in images%}
                            {%if image.section == "Supuestos"%}
                            <img src="{{image.image.url}}">
                            {%endif%}
                        {%endfor%}
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-md-12">
            <h4>Información de Costos</h4>
            <hr>
            <div class="col-md-12">
            
                <table class="table table-hover">
                    <tr>
                        <td class="text-left"><strong>Indicadores 2013-2030</strong></td>
                        <td class="text-center" colspan="3"><strong>Tasa de descuento</strong></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td class="active"><strong>{{costos.1.1}}</strong></td>
                        <td><strong>{{costos.1.2}}</strong></td>
                        <td><strong>{{costos.1.3}}</strong></td>
                    </tr>
                    <tr>
                        <td >Costo inversión, valor presente (MM CLP$)</td>
                        <td class="active"> {{costos.2.1}}</td>
                        <td > {{costos.2.2}}</td>
                        <td> {{costos.2.3}}</td>
                    </tr>
                    <tr>
                        <td>Costo operación y mantenimiento, valor presente (MM CLP$)</td>
                        <td class="active"> {{costos.3.1}}</td>
                        <td> {{costos.3.2}}</td>
                        <td> {{costos.3.3}}</td>
                    </tr>
                    <tr>
                        <td>Valor actual neto (MM CLP$)</td>
                        <td class="active"> {{costos.4.1}}</td>
                        <td> {{costos.4.2}}</td>
                        <td> {{costos.4.3}}</td>
                    </tr>
                    <tr>
                        <td>Costo de Abatimiento(CLP$/t CO2eq)</td>
                        <td class="active"> {{costos.5.1}}</td>
                        <td> {{costos.5.2}}</td>
                        <td> {{costos.5.3}}</td>
                    </tr>
                    <tr>
                        <td>Costo de abatimiento(US$/t CO2eq)</td>
                        <td class="active"> {{costos.6.1}}</td>
                        <td> {{costos.6.2}}</td>
                        <td> {{costos.6.3}}</td>
                    </tr>
                </table> 
                <table class="table table-hover">
                    <tr>
                        <td class="text-left"><strong>Indicadores 2013-2050</strong></td>
                        <td class="text-center" colspan="3"><strong>Tasa de descuento</strong></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td class="active"><strong>{{costos.8.1}}</strong></td>
                        <td><strong>{{costos.8.2}}</strong></td>
                        <td><strong>{{costos.8.3}}</strong></td>
                    </tr>
                    <tr>
                        <td >Costo inversión, valor presente (MM CLP$)</td>
                        <td class="active"> {{costos.9.1 }}</td>
                        <td > {{costos.9.2}}</td>
                        <td> {{costos.9.3}}</td>
                    </tr>
                    <tr>
                        <td>Costo operación y mantenimiento, valor presente (MM CLP$)</td>
                        <td class="active"> {{costos.10.1}}</td>
                        <td> {{costos.10.2}}</td>
                        <td> {{costos.10.3}}</td>
                    </tr>
                    <tr>
                        <td>Valor actual neto (MM CLP$)</td>
                        <td class="active"> {{costos.11.1}}</td>
                        <td> {{costos.11.2}}</td>
                        <td> {{costos.11.3}}</td>
                    </tr>
                    <tr>
                        <td>Costo de Abatimiento(CLP$/t CO2eq)</td>
                        <td class="active"> {{costos.12.1}}</td>
                        <td> {{costos.12.2}}</td>
                        <td> {{costos.12.3}}</td>
                    </tr>
                    <tr>
                        <td>Costo de abatimiento(US$/t CO2eq)</td>
                        <td class="active"> {{costos.13.1}}</td>
                        <td> {{costos.13.2}}</td>
                        <td> {{costos.13.3}}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
<!-- 
    <div class="row">
        <div class="col-md-12">
            <h4>Incertidumbres</h4>
            <table class="table table-hover">
                <tr>
                    <td class="text-left">{{incertidumbre.0.0}}</td>
                    <td class="text-left" colspan="2">{{incertidumbre.0.1}}</td> 
                </tr>
                <tr>
                    <td class="text-left" >{{incertidumbre.1.1}}</td>
                    <td class="text-left" colspan="2">{{incertidumbre.1.2}}</td>
                </tr>
                <tr>
                    <td class="text-left" >{{incertidumbre.2.1}}</td>
                    <td class="text-left" colspan="2">{{incertidumbre.2.2}}</td>
                </tr>
            </table>
        </div>
    </div>   

    <div class="row">
        <div class="col-md-12">
            <h4>Co-Beneficios/Externalidades</h4>
            <table class="table table-hover">
                <tr>
                    <td class="text-left" colspan="2">{{externalidades.0.1}}</td> 
                </tr>
            </table>
        </div>
    </div>
 -->
    <div class="row equal">

        <div class="col-md-6">
            <div class="panel panel-default">

                <div class="panel-heading">
                    <h4>Reducción de emisiones</h4>
                </div>

                <div class="panel-body">
                    <div class="col-md-12">
                        <h2 class="text-center">
                        {% if reduccion.evaluacion2030.0 < "0.05" %}
                        Nivel Bajo

                        {% elif reduccion.evaluacion2030.0 < "0.2" %}
                        Nivel Medio

                        {% elif reduccion.evaluacion2030.0 > "0.2" %}
                        Nivel Alto

                        {% endif %}
                        </h2>
                    </div>

                    <div class="col-md-12">
                        <div class="col-md-12 text-center">
                            <h5>{{description.initialYear}} <i class="fa fa-angle-double-right"></i> 2030</h5>
                        </div>

                        <div class="col-md-6 text-center">
                            <p>Promedio Anual de reducción <br/ >de CO<sub>2</sub> eq (MMT)</p>
                            <h4>{{reduccion.evaluacion2030.0}}</h4>
                        </div>
                        <div class="col-md-6 text-center">
                            <p>Reducciones acumuladas <br/> de CO<sub>2</sub> eq (MMT)</p>
                            <h4>{{reduccion.evaluacion2030.1}}</h4>
                        </div>

                    </div>
                </div>
                <div class="panel-body">
                    <div class="col-md-12">
                        <h2 class="text-center">
                        {% if reduccion.evaluacion2050.0 < "0.05" %}
                        Nivel Bajo

                        {% elif reduccion.evaluacion2050.0 < "0.2" %}
                        Nivel Medio

                        {% elif reduccion.evaluacion2050.0 > "0.2" %}
                        Nivel Alto

                        {% endif %}
                        </h2>
                    </div>

                    <div class="col-md-12">
                        <div class="col-md-12 text-center">
                            <h5>{{description.initialYear}} <i class="fa fa-angle-double-right"></i> 2050</h5>
                        </div>

                        <div class="col-md-6 text-center">
                            <p>Promedio Anual de reducción <br/ >de CO<sub>2</sub> eq (MMT)</p>
                            <h4>{{reduccion.evaluacion2050.0}}</h4>
                        </div>
                        <div class="col-md-6 text-center">
                            <p>Reducciones acumuladas <br/> de CO<sub>2</sub> eq (MMT)</p>
                            <h4>{{reduccion.evaluacion2050.1}}</h4>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="panel panel-default">

                <div class="panel-heading">
                    <h4>Factibilidad</h4>
                </div>

                <div class="panel-body">
                    <div class="col-md-12">
                        <h2 class="text-center">

                        {% if factibilidad.0.1 == 1 %}
                        Baja

                        {% elif factibilidad.0.1 == 2 %}
                        Media-Baja

                        {% elif factibilidad.0.1 == 3 %}
                        Media-Alta

                        {% elif factibilidad.0.1 == 4 %}
                        Alta

                        {% endif %}
                        </h2>
                        <p class="text-justify">{{factibilidad.0.2}}</p>

                    </div>
                </div>
            </div>
        </div>

    </div>

</div>























{%endblock%}
