{% extends "visualization/base.html" %}
{% load bootstrap %}

{% block container %}

{%if emptyScenarioTable%}

	<p> No existen escenarios en este momento, por favor esperar a que se agreguen. </p>

{%elif scenarioNotFound%}

	<p> No se encontro el escenario <p>

{%else%}

	<script src="{{STATIC_URL}}js/highcharts.js"></script>
	<script src="{{STATIC_URL}}js/exporting.js"></script>
	<script src="{{STATIC_URL}}js/chart-utils.js"></script>

	<style type="text/css">
		.label {
			line-height: 2;
		}
	</style>

	<div id="chartContainer" class="col-md-12"></div>
	<!--<button id="buttonSectorVisibility" class="autocompare" style="margin-left:15px;">Esconder sectores</button>-->
	<div id="mitigationActions" class="col-md-12 text-left"></div>

	<script type="text/javascript">

	var scenario = "{{ escenario }}";
	var id = {{ id }};

	function getScenarioData(){
		$.ajax({
			data    : {'scenario': id},
			url     : '/visualization/data/scenario',
			type    : 'GET',
			success : function(data){
				chart = new Highcharts.Chart({

					/*
					Agropecuario 010002
					CPR D78B2A
					Forestal 81AA39
					Generacion 1565A5
					IM C12B2D
					Residuos EBC22E
					Transporte 5A458C
					*/

					colors:["#010002",
							"#D78B2A",
							"#81AA39",
							"#1565A5",
							"#C12B2D",
							"#EBC22E",
							"#5A458C",
							"#8000FF",
							"#04B404"],

					credits:{
						enabled: false
					},
					chart: {
						zoomType: 'xy',
						renderTo: 'chartContainer'
					},

					title: {
						text: 'Emisiones por sectores'
					},
					subtitle: {
						text: '(Para: {{escenario}})'
					},
					xAxis: {
						allowDecimals: false,
						labels: {
							format: '{value}',
						},
						tickmarkPlacement: 'on',
						title: {
							enabled: false
						}
					},
					yAxis: {
						gridLineWidth: 1,
						title: {
							useHTML: true,
							text: 'MM tonCO<sub>2</sub>eq'
						},
						labels: {
							formatter: function () {
								return this.value;
							}
						}
					},
					tooltip: {
						useHTML: true,
						valueSuffix: 'CO<sub>2</sub>eq (MMt)',
						valueDecimals: 1
					},
					legend: {
						title: 'Comparaciones',
						layout: 'horizontal',
						align: 'center',
						borderWidth: 0
					},
					plotOptions: {
						column: {
							pointStart: 2013,
							stacking: 'normal',
							marker: {
								lineWidth: 1
							},
							events: {
								legendItemClick: handleSectorStateChange
							},
						},

						spline: {
							pointStart: 2013,
							lineWidth: 4,
							marker: {
								lineWidth: 1
							}
						}
					},
					series: data['value']
				});
			}
		});
	}

	// Changes the text of the button and toggle visibility of the sector columns
  $('#buttonSectorVisibility').click(function () {
      var series = chart.series[0];
      if (series.visible) {
          $(this).html('Mostrar sectores');
      } else {
          $(this).html('Esconder sectores');
      }
      setChartColumnsVisibility(chart, !series.visible);
  });

	function mitigationActionsHandler(data){
		//console.log(data);
		var container = document.getElementById("mitigationActions");

		if (data.length == 0){
			var message = document.createElement("h5");
			message.innerHTML = "No existen medidas de mitigación asociadas a este escenario."
			container.appendChild(message);
		}
		else{

			var message = document.createElement("h5");
			message.innerHTML = "Escenario compuesto por:"
			container.appendChild(message);
			var actualSector = "";
			for(i = 0; i < data.length; i+=1){

				var newSector = data[i].sector;

				if(newSector != actualSector){
					actualSector = newSector;
					var sector = document.createElement("h4");
					sector.innerHTML = actualSector;
					sector.className = "col-md-12 col-xs-12 col-sm-12";
					container.appendChild(document.createElement("br"));
					container.appendChild(sector);
					container.appendChild(document.createElement("br"));
				}

				var rowContainer = document.createElement("div");
				rowContainer.className = "col-md-6 col-xs-12 col-sm-6";

				var containerNivel = document.createElement("div");
				containerNivel.className = "col-md-2 col-xs-2 col-sm-2 ";

				var nivelSpan = document.createElement("span");

				nivelSpan.innerHTML = "Nivel " + data[i].nivel;

				var level = data[i].nivel;

				if ( level == "1")
					nivelSpan.className = "label label-success text-right";
				else if (level == "2")
					nivelSpan.className = "label label-warning";
				else if(level == "3")
					nivelSpan.className = "label label-danger";
				else if(level == "Activo"){
					nivelSpan.className = "label label-primary";
					nivelSpan.innerHTML = level+"&nbsp;";
				}

				var containerMedida = document.createElement("div");
				containerMedida.className = "col-md-10 col-xs-10 col-sm-10";

				var url = document.createElement("a");
				url.href = "{% url 'registry' %}" + "?id=" + data[i].id;
				var linkText = document.createTextNode(data[i].shortname);
				url.appendChild(linkText);
				url.title = data[i].medida;

				containerMedida.appendChild(url);

				containerNivel.appendChild(nivelSpan);
				rowContainer.appendChild(containerNivel);

				rowContainer.appendChild(containerMedida);

				container.appendChild(rowContainer);
			}
		}

	}

	function createMitigationActions(){
		$.ajax({
			data    : {'id': id},
			url     : '/visualization/compositionData',
			type    : 'GET',
			error   : function(xhr, error){
				console.debug(xhr);
				console.debug(error);
			},
			success : mitigationActionsHandler
		});
	}

	$(document).ready(function() {
		getScenarioData();
		createMitigationActions();
	});

	</script>

{%endif%}
{% endblock %}
