{% load utiltags %}

<html lang='es'>
<head>
  <meta charset="UTF-8">
  <title>Panel de administración MAPS Chile </title>
  <link rel="stylesheet" href="{{STATIC_URL}}css/bootstrap.paper.min.css">
  <link rel="stylesheet" href="{{STATIC_URL}}css/font-awesome.min.css">

  <script src="{{STATIC_URL}}js/jquery.min.js"></script>
    <script src="{{STATIC_URL}}js/bootstrap.min.js"></script>


  <style type="text/css">
     body {
      color: #191919;
      background: url({{STATIC_URL}}img/fondotextura.jpg) repeat #EDEDE3;
    }

    .bar_top {
      background: url({{STATIC_URL}}img/bar_top.jpg) no-repeat #32AAE2;
      height: 13px;
    }

    .navbar-brand {
      float: left;
      padding: 0px 15px;
      font-size: 27px;
      line-height: 23px;
      height: 45px;
    }
  </style>

</head>
<body>

  <div class="bar_top"></div>
  



<div class="navbar navbar-default">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
  </div>
  <div class="navbar-collapse collapse navbar-responsive-collapse">
    <ul>
     <a href="{% url 'index' %}"><div class="logo"></div></a>      
    </ul>   

    <ul class="nav navbar-nav">
      <li id="nav-comparacion"><a href="{% url 'admin_home' %}"> Home</a></li>
      <li id="nav-comparacion"><a href="{% url 'admin_sector' %}"> Sectores</a></li>
      <li id="nav-comparacion"><a href="{% url 'admin_measure' %}"> Medida</a></li>
      <li id="nav-comparacion"><a href="{% url 'admin_scenario' %}"> Escenario</a></li>

    </ul>

    <ul class="nav navbar-nav navbar-right">
      <li class="dropdown">
        <a href="{% url 'logout' %}">Cerrar sesión</a>
      </li>
    </ul>

    
  </div>
</div>



  <div class="container">
    {% block container %}

    {% endblock %}

  </div>
    <br/>
    <br/>
    <br/>
    {% block js %}
    {% endblock%}

</body>
</html>
