{% extends "admin/base.html" %}

{% load bootstrap %}


{% block container %}

<div class="col-md-12 text-justify" >
	<h3>Guia para subir la información</h3>
	<p>Para subir la información que ha generado el Proyecto MAPSChile, es necesario que se realicen los siguientes pasos: </p>

	<h5>Paso 1: Medidas de mitigación</h5>
	<p>Se debe subir todas las fichas de las medidas de mitigación antes de subir los escenarios, dado que este último requiere mostrar las medidas que la componen.</p>
	<p>Si necesitas actualizar una medida, solo debes volver a subir el archivo al sistema, siempre y cuando tenga el mismo nombre.</p>

	<div class="text-center">
		<a type="button" class="btn btn-danger" href="{% url 'admin_measure' %}">
			<i class="fa fa-upload"></i> Medidas de mitigación</a>
	</div>

	<h5>Paso 2: Escenarios</h5>
	<p>Para cargar los escenarios que se pre-calcularon por parte del equipo de MAPSChile, es necesario que se suban dos archivos puntuales. El archivo "Consolidado" contiene los valores asociados a cada escenario por sector y el archivo "Composición de escenarios" indica las medidas que están asociadas a cada escenario.</p>
	<p>Si necesitas actualizar los datos, puedes volver a subir los archivos en cuestión.</p>
	<div class="text-center">
		<a type="button" class="btn btn-warning" href="{% url 'admin_scenario_add' %}">
			<i class="fa fa-upload"></i> Escenarios</a>
	</div>

	<h5>Paso 3: Nombres Cortos de las Medidas</h5>
	<p>Con el fin de facilitar el trabajo con las medidas de mitigación respecto a sus largos nombres, se tiene la opción de subir un listado de nombres cortos de cada una de las medidas.</p>
	<p>Si necesitas actualizar los nombres cortos, puedes volver a subir el archivo y estos se actualizarán.</p>
	<div class="text-center">
		<a type="button" class="btn btn-primary" href="{% url 'admin_measure_shortname' %}">
			<i class="fa fa-upload"></i> Nombres Cortos</a>
	</div>

    <h5> Paso 4: Cargar imágenes de las medidas </h5>
	<p>Para cargar las imagenes correspondiente a cada medida (gráficos complementarios, diagramas u otros) se debe utilizar el siguiente formato:</p>
	<ul>
		<li>"Nombre de la medida;Mitigación.png"</li>
		<li>"Nombre de la medida;Supuestos.png"</li>
	</ul>

	<p>Ejemplo:</p>
	<ul>
		<li>Incentivo a Energía Nuclear (Nivel 1);Implementación.png</li>
		<li>Incentivo a Energía Nuclear (Nivel 1);Supuestos.png</li>
	</ul>

	<div class="text-center">
		<a type="button" class="btn btn-default" href="{% url 'admin_measure_details' %}">
			<i class="fa fa-upload"></i> Imágenes</a>
	</div>
	
	<h5>Paso 5: Activar o desactivar escenarios personalizados</h5>
	<p>Para activar el uso de los escenarios personalizados debe marcar la casilla en el enlace que sigue:</p>

	<div class = "col-md-12 text-center">
	  {%for featureName, featurePk in features%}
		  	      <a href="{% url 'admin_feature_configurate' featurePk  %}" type="button" class="btn btn-info btn-sm">
	          <span class="fa fa-cogs"></span>
	          Configuración
	      </a>
      {%endfor%}
  </div>
</div>

{% endblock %}
