{% extends "admin/base.html" %}

{% block container %}

{% load bootstrap %}
{% load jfutags %}

<style type="text/css">
  .panel-heading{
  border-bottom: 1px solid transparent;
  }

  a.btn.btn-primary.col-md-2{
    margin-top: 11.5;
  }

</style>

<div class="col-md-12">
  <div class="panel panel-default">
    <div class="panel-heading">
      <div class="row">
        <h4 class="col-md-8">Subir fichas de las Medidas de mitigación</h4>
        <a href="/media/example files/Ejemplo nombre corto.xlsx" type="button" class="btn btn-primary col-md-2" style="margin-top:11.5">
        <i class="fa fa-cloud-download">Descargar Ejemplo</i>
        </a>
      </div>
    </div>

    <div class="panel-body">
      <div class="col-md-12">
        {% jfu 'visualization/file_upload_form.html' "file_handler" %}
      </div>
    </div>

  </div>

</div>
{% endblock %}
