{% extends "admin/base.html" %}

{% block container %}
{% load bootstrap %}

<style type="text/css">
  .panel-heading{
    border-bottom: 1px solid transparent;
  }
</style>

{%if processed%}
		<h3> Las siguientes medidas no fueron encontradas, verifique que el nombre sea el correcto.</h3>
		<ul>
		{%for mitigation_name in not_found_list%}
			<li><span class="label label-danger">Error</span>: {{mitigation_name}}</li>
		{%endfor%}
		</ul>

		<h3> Las siguientes medidas fueron procesadas con éxito.</h3>
		<ul>
		{%for mitigation_name in found_list%}
			<li><span class="label label-success">OK</span>: {{mitigation_name}}</li>
		{%endfor%}
		</ul>
{%else%}
	<div class="panel panel-default">
		<div class="panel-heading">
			<div class="row">
				<h3 class="col-md-8">Cargar nombres cortos de las medidas</h3>
				<a href="/media/example files/Ejemplo nombre corto.xlsx" type="button" class="btn btn-primary col-md-2" style="margin-top: 30px;">
					<i class="fa fa-cloud-download">Descargar Ejemplo</i>
				</a>
			</div>
		</div>

		<div class="panel-body container">
			<form id='measure_shortname' method='POST' action='' class="form-horizontal" role="form" enctype="multipart/form-data">
				{% csrf_token %}
				<div class="input-group">
					<span class="input-group-addon">Archivo Nombres Cortos</span>
					<input type="file" class="form-control" name="shortname" required/>
				</div>
				<div class="col-md-12">
				 	<br/>
					<button type="submit" class="btn btn-success">Enviar</button>
				</div>
			</form>
		</div>
	</div>
{%endif%}
{% endblock %}
