{% extends "admin/base.html" %}

{% load bootstrap %}


{% block container %}
<div class=row>
  <div class=col-md-6>
    <h4>Cargar medidas</h4>
    <p>
      <a href="{% url 'admin_measure_add' %}" type="button" class="btn btn-default">
        <i class="fa fa-upload"></i> Agregar medidas de mitigación</a>
    </p>
  </div>
  <div class=col-md-6>
    <h4>Cargar detalles de medidas</h4>
    <p>
      <a href="{% url 'admin_measure_details' %}" type="button" class="btn btn-default">
        <i class="fa fa-upload"></i> Agregar detalles medidas de mitigación</a>
    </p>
  </div>
</div>

<style type="text/css">
    .label {
      line-height: 2;
    }
    .panel-heading{
      border-bottom: 1px solid transparent;
    }
</style>

{%if medidas%}
  <h4>Listado de medidas</h4>



    {% for element in medidas%}
      <div class="panel panel-default">

      {%if element.sector.full_name != 'General' %}
          <div class="panel-heading">
            <h5>{{element.sector.full_name | capfirst}}</h5>
          </div>
      {% endif %}

      <div class="panel-body container">
      {% for action in element.actions%}

        <div class="col-md-12">
          <div class="col-md-1">

            {% if action.level == "Activo" %}
              <label class="label label-primary btn-xs">{{action.level}}&nbsp;</label>
            {% elif action.level == "1" %}
              <label class="label label-success btn-xs">Nivel {{action.level}}</label>
            {% elif action.level == "2" %}
              <label class="label label-warning btn-xs">Nivel {{action.level}}</label>
            {% elif action.level == "3" %}
              <label class="label label-danger btn-xs">Nivel {{action.level}}</label>
            {% endif %}
          </div>

          <div class="col-md-9 ">
            {{action.name}}
          </div>

          <div class="col-md-2 text-right">
            <a href="{{action.registry.registry.url}}" type="button" class="btn btn-primary btn-sm">
              <i class="fa fa-cloud-download"></i>
            </a>

            <a href="{% url 'admin_measure_delete' action.id  %}" type="button" class="btn btn-danger btn-sm">
              <i class="fa fa-times"></i>
            </a>
          </div>
          </div>
      {% endfor %}
        </div>
      </div>
    {% endfor %}


{%else%}
  <div class="text-center">
    <h4>Aún no hay medidas ingresadas al sistema.</h4>
  </div>
{% endif %}


{% endblock %}
