{% extends "admin/base.html" %}

{% block container %}

{% load bootstrap %}
{% load jfutags %}

<style type="text/css">
  .panel-heading{
  border-bottom: 1px solid transparent;
  }

  a.btn.btn-primary.col-md-2{
    margin-top: 11.5;
  }

  td{
    padding-left: 15px;
  }

  table{
    margin-bottom: 25px;
  }
</style>

<div class="col-md-12">
  <div class="panel panel-default">
    <div class="panel-heading">
       	<h4>Imágenes de las medidas de mitigación</h4>
    </div>

    <div class="panel-body">
	<table>
	<tr>	
	<td>Sintaxis</td>
	<td>Ejemplos</td>
	</tr>
	<tr> 
		<td>"Nombre de la medida;Implementación.png"</td>
		<td>"Incentivo a Energía Nuclear (Nivel 1);Implementación.png"</td>
	</tr>
	<tr> 
		<td>"Nombre de la medida;Supuestos.png"</td>
		<td>"Incentivo a Energía Nuclear (Nivel 1);Supuestos.png"</td>
	</tr>
	</table>
        <div class="col-md-12">
          {% jfu 'visualization/file_upload_form.html' "imageHandler" %}
        </div>
    </div>
  </div>
</div>

<!-- CAMBIO DE PANEL -->

<div class="col-md-12">
  <div class="panel panel-default">
    <div class="panel-heading">
      <div class="row">
        <h4 class="col-md-8">Nombres cortos de las medidas de mitigación</h4>
        <a href="/media/example files/Ejemplo nombre corto.xlsx" type="button" class="btn btn-primary col-md-2" >
          <i class="fa fa-cloud-download">Descargar Ejemplo</i>
        </a>
      </div>
    </div>

    <div class="panel-body">
      {%if processed%}
        <p>
          <a href="{% url 'admin_measure_add' %}" type="button" class="btn btn-default">
            <i class="fa fa-upload"></i> Volver</a>
        </p>
        <h5> Las siguientes medidas no fueron encontradas, verifique que el nombre sea el correcto.</h5>
        <ul style="list-style-type: none;">
        {%for mitigation_name in not_found_list%}
          <li><span class="label label-danger">Error</span> {{mitigation_name}}</li>
        {%endfor%}
        </ul>

        <h5> Las siguientes medidas fueron procesadas con éxito.</h5>
        <ul style="list-style-type: none;">
        {%for mitigation_name in found_list%}
          <li><span class="label label-success">OK</span> {{mitigation_name}}</li>
        {%endfor%}
        </ul>
      {%else%}
        <div class="col-md-12">
          <form id='measure_shortname' method='POST' action='' class="form-horizontal" role="form" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="input-group">
              <span class="input-group-addon">Archivo Nombres Cortos</span>
              <input type="file" class="form-control" name="shortname" required/>
            </div>
            <div class="col-md-12">
              <br/>
              <button type="submit" class="btn btn-success">Enviar</button>
            </div>
          </form>
          </div>
      {%endif%}
    </div>
  </div>
</div>
{% endblock %}
