{% extends "admin/base.html" %}


{% block container %}

{% load bootstrap %}

<div class="panel panel-default">
	<div class="panel-heading">
		<h3>Cargar los escenarios y sus medidas</h3>
	</div>

	<div class="panel-body container">
		<div class="col-md-12">
			<form class="form-horizontal" id='ficha_ingresar' method='POST' action='' role="form" enctype="multipart/form-data">
				{% csrf_token %}

				<div class="col-md-10">
			    <div class="form-group">
			      <label class="col-sm-3 control-label">Consolidado</label>
			      <div class="col-sm-5">
			      	<input type="file" class="form-control" name="consolidado"/>
		      	</div>
		      	<div class="col-sm-3">
				      <a href="/media/example files/Ejemplo Consolidado.xlsx" type="button" class="btn btn-primary" style="margin-top:6">
								<i class="fa fa-cloud-download">Descargar Ejemplo</i>
							</a>
				    </div>
			    </div>

			    <div class="form-group">
			      <label class="col-sm-3 control-label">Composición de los escenarios</label>
			      <div class="col-sm-5">
			      	<input type="file" class="form-control" name="composition"/>
		      	</div>
		      	<div class="col-sm-3 text-left">
				      <a href="/media/example files/Ejemplo Composicion Escenarios.xlsx" type="button" class="btn btn-primary" style="margin-top:6">
								<i class="fa fa-cloud-download">Descargar Ejemplo</i>
							</a>
				    </div>
			    </div>

			    <div class="form-group">
				    <div class="col-sm-offset-3 col-sm-10">
				      <button type="submit" class="btn btn-success">Cargar</button>
				    </div>
				  </div>
			  </div>

		  </form>
	  </div>
	  {%if processed%}
	  <div>
	  	<h5>Las siguientes medidas de mitigación tienen errores en sus niveles:</h5>
	  	<ul style="list-style-type: none;">
      {%for action, level, reason in level_error_list%}
        {%if reason == "Medida no encontrada" %}
        	<li>
        		<span class="label label-danger">Medida no encontrada</span>
        		{{action}} nivel: {{level}} 
        	</li>
        {%elif reason == "Nivel inválido" %}
        	<li>
        		<span class="label label-warning">Nivel inválido</span>
        		{{action}} nivel: {{level}}
        	</li>
        {%endif%}
      {%endfor%}
      </ul>
	  </div>
	  {%endif%}
      {%if validation_errors%}
        Las siguientes filas del archivo Consolidado presentan problemas:
        <ul>
        {%for error in error_list%}
            <li>{{error}}</li>
        {%endfor%}
        </ul>
      {%endif%}
	</div>
</div>
{% endblock %}


