{% extends "admin/base.html" %}

{% block container %}

{% load bootstrap %}

<h4>Configuración de Escenario: {{name}}</h4>

<div class="col-md-12">
	<form id='ficha_ingresar' method='POST' action='' class="form-horizontal" role="form" enctype="multipart/form-data">

		{% csrf_token %}
		{{ form | bootstrap_horizontal}}

		<button type="submit" class="btn btn-success">Enviar</button>
	</form>

</div>
{% endblock %}
