{% extends "admin/base.html" %}

{% load bootstrap %}
{% block container %}

<style type="text/css">
  .panel-heading{
    border-bottom: 1px solid transparent;
  }
</style>

<h4>Cargar escenarios</h4>

<p>
  <a href="{% url 'admin_scenario_add' %}" type="button" class="btn btn-default">
    <i class="fa fa-upload"></i> Agregar Escenarios</a>
</p>

<hr>
<h4>Listado de escenarios</h4>

{% for element in escenarios%}
  <div class="panel panel-default">

    <div class="panel-heading">
      <div class = "row">
        <div class = "col-md-8">
        	<h5>{{element.name}}</h5>
        </div>
      	<div class = "col-md-4 text-right">
          <a href="{% url 'admin_scenario_configurate' element.id  %}" type="button" class="btn btn-info btn-sm">
              <span class="fa fa-cogs"></span>
              Configuración
          </a>
          <a href="{% url 'admin_scenario_delete' element.id  %}" type="button" class="btn btn-danger btn-sm">
              <span class="fa fa-trash"></span>
              Eliminar
          </a>
        </div>
      </div>
    </div>

    {% if element.actions.all %}
      <div class="panel-body container">
        <ul>
          {% for medida in element.actions.all%}
      	    <li>{{medida}} (Nivel {{medida.level}})</li>
          {% endfor %}
        </ul>
      </div>
    {% endif %}
  </div>
{% endfor %}
{% endblock %}
