{% extends "admin/base.html" %}

{% block container %}

{% load bootstrap %}

<h3>Agregar nuevo sector</h3>

<div class="col-md-6">
	<form id='ficha_ingresar' method='POST' action='' class="form-horizontal" role="form" enctype="multipart/form-data">

		{% csrf_token %}
		{{ form | bootstrap_horizontal}}

		<button type="submit" class="btn btn-success">Enviar</button>
	</form>
	
	<div>
{% endblock %}