{% extends "admin/base.html" %}

{% load bootstrap %}


{% block container %}


<div class="panel panel-default">

	<div class="panel-heading">
		<h5>Listado de sectores</h5>
	</div>

	<div class="panel-body">

		<div class="row">

		{% for element in sectores%}
			{%if element.full_name != 'General' %}
			<div class="col-md-10">
				<h6>{{element.full_name | capfirst}}</h6>
			</div>
			<div class="col-md-2 text-right">
				<a href="{% url 'admin_sector_edit' element.id  %}" type="button" class="btn btn-warning">
		          <i class="fa fa-pencil-square-o"></i>
		        </a>

			</div>
			{% endif %}
				
		{% endfor %}

		</div>


	</div>

</div>




<hr>
{% endblock %}
