{% extends "admin/base.html" %}

{% block container %}

{% load bootstrap %}

<style type="text/css">
  h6{
    color: red;
  }
</style>

<h3>Editando sector {{sector.fullName}}</h3>
<h6>ATENCIÓN: Sólo modifique el "Nombre" y "Nombre en fichas" del sector si planea cambiar estos en las fichas. De lo contrario la aplicación no funcionará correctamente</h6>

<div class="col-md-6">
	<form id='ficha_ingresar' method='POST' action="" class="form-horizontal" role="form" enctype="multipart/form-data">

		{% csrf_token %}
		{{ form | bootstrap_horizontal}}

		<button type="submit" class="btn btn-success">Enviar</button>
	</form>

	<div>
{% endblock %}
